.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 48px;
}
.icon{
    -webkit-mask: url('./Icons/SearchIcon.svg');
    mask: url('./Icons/SearchIcon.svg');
    background-color: #848484;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 32px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
