.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 48px;
}

@media(max-width: 900px){
    .container{
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
}