.flexContainer{
    width: 1278px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 80px auto 0px auto;
    transition: width 0.2s linear, margin 0.2s linear;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 120px;
    transition: gap 0.2s linear;
}

.countryFlag{
    width: 560px;
    height: 401px;
    border-radius: 8px;
    transition: width 0.2s linear, height 0.2s linear;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 23px;
    width: 598px;
    transition: row-gap 0.2s linear;
}

.countryName, .title, .desc, .borderContainer{
    font-family: 'Nunito Sans'; 
    color: var(--text-color);
    transition: font-size 0.2s linear;
}

.countryName{
    grid-column: 1/3;
    font-weight: 800;
    font-size: 32px;
    line-height: 43.65px;
}

.flex{
    display: flex;
}

.title{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.desc, .message{
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

.message{
    font-family: 'Nunito Sans';
    color: var(--text-color);
    position: relative;
    right: 16px;
}


.borderCountries{
    margin-top: 45px;
    grid-column: 1/3;
    display: flex;
    gap: 16px;
}

.borderGrid{
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 10px;
}

.borderContainer{
    min-width: 96px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.1px;
    border-radius: 2px;
    background-color: var(--border-country-bg-color);
    transition: background-color 0.2s linear;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}

.goBack{
    cursor: pointer;
    background-color: var(--go-back-bg-color);
    box-sizing: border-box;
    padding: 0px 39px 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 136px;
    height: 40px;
    border-radius: 8px;
}

.icon{
    -webkit-mask: url('./Icons/LeftArrow.svg');
    mask: url('./Icons/LeftArrow.svg');
    background-color: var(--text-color);
    width: 18px;
    height: 20px;
}

.back{
    font-family: 'Nunito Sans';
    color: var(--text-color);
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

@media(max-width: 1350px){
    .flexContainer{
        width: 90%;
        gap: 40px;
    }
    .container{
        gap: 60px;
    }

    .countryFlag{
        width: 50%;
        height: auto;
        object-fit: contain;
    }
    .borderCountries{
        margin-top: 18px;
    }
}

@media(max-width: 1000px){
    .countryName{
        font-size: 27px;
        line-height: 30px;
    }
    .title, .desc, .message{
        font-size: 14px;
    }

    .grid{
        row-gap: 16px;
    }
}

@media(max-width: 900px){
    .flexContainer{
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .grid{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .countryFlag{
        width: 100%;
    }
}

@media (max-width: 600px){
    .grid{
        grid-template-columns: auto;
        align-self: flex-start;
    }

    .countryName, .borderCountries{
        grid-column: 1/2;
    }
    .sectionOne{
        margin-bottom: 16px;
    }
    .borderCountries{
        flex-direction: column;
        align-items: flex-start;
    }
}