.filter{
    padding: 0px 22px 0px 24px;
    border-radius: 8px;
    width: 200px;
    height: 56px;
    background-color: var(--filter-box-bg-color);
    transition: background-color 0.2s linear;
    border: 0px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.arrow{
    pointer-events: none;
    -webkit-mask: url('./Icons/ArrowDown.svg');
    mask: url('./Icons/ArrowDown.svg');
    width: 12px;
    height: 12px;
    background-color: var(--text-color);
}

.filterOption{
    pointer-events: none;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}
.options{
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 8px;
    width: 246px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;    
    padding: 8px 0px 8px 0px;
    background-color: var(--filter-popup-options-bg-color);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.532439);
}

.option{
    color: var(--text-color);
    border-radius: 8px;
    pointer-events: all;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 14px;
    padding: 8px 0px 8px 24px;
}

.option:hover{
    background-color:var(--filter-option-hover-color);
}